body {
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
}

.first-section {
    text-align: center;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-right: 80px;
    padding-bottom: 150px;
    padding-left: 80px;
}

.heading-h1 {
    color: aliceblue;
    font-size: 70px;
}

.first-para {
    color: aliceblue;
    font-size: 32px;
    padding-right: 250px;
    padding-left: 250px;
    margin-bottom: 80px;
}

.link-button {
    background-color: tomato;
    padding-top: 20px;
    padding-right: 80px;
    padding-bottom: 20px;
    padding-left: 80px;
    text-decoration: none;
    color: aliceblue;
    font-size: 32px;
    font-weight: 800;
}

.second-section {
    text-align: center;
    padding-top: 80px;
    padding-right: 80px;
    padding-bottom: 150px;
    padding-left: 80px;
}

#second-section-h2 {
    color: black;
    font-size: 50px;
}

.second-section-para {
    font-size: 32px;
    color: grey;
}

.counter {
    display: flex;
    font-size: 34px;
    align-content: center;
    margin-left: 200px;
    color: gray;

}

#div1 {
    width: 20%;
    padding-top: 60px;
    padding-right: 120px;
    padding-bottom: 60px;
    padding-left: 20px;
    background-color: ghostwhite;
    border-radius: 10px;
}

#div2 {
    width: 20%;
    padding-top: 60px;
    padding-right: 120px;
    padding-bottom: 60px;
    padding-left: 20px;
    color: tomato;
    background-color: rgb(240, 226, 224);
    border: tomato solid;
    border-radius: 10px;
}

#div3 {
    width: 20%;
    padding-top: 60px;
    padding-right: 120px;
    padding-bottom: 60px;
    padding-left: 20px;
    background-color: ghostwhite;
    border-radius: 10px;

}

#div4 {
    width: 20%;
    padding-top: 60px;
    padding-right: 125px;
    padding-bottom: 60px;
    padding-left: 20px;
    background-color: ghostwhite;
    border-radius: 10px;

}

#div5 {
    width: 20%;
    padding-top: 60px;
    padding-right: 130px;
    padding-bottom: 60px;
    padding-left: 20px;
    background-color: ghostwhite;
    border-radius: 10px;
    text-align: center;

}

#input-form {
    margin-bottom: 100px;
    margin-top: 120px;
    border-bottom: 2px solid black;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: max-content;

}

/* #label {
} */


#second-section-second-h2 {
    margin-top: 120px;
    font-size: 50px;
}

.second-chart {
    display: flex;
    font-size: 28px;
    align-content: center;
    color: gray;
}

#div6 {
    width: 33.33%;
    padding-top: 60px;
    padding-right: 20px;
    padding-bottom: 60px;
    padding-left: 20px;
    background-color: antiquewhite;
    border-radius: 10px;
    margin-right: 10px;
}

#div7 {
    width: 33.33%;
    padding-top: 60px;
    padding-right: 20px;
    padding-bottom: 60px;
    padding-left: 20px;
    background-color: rgb(67, 80, 104);
    border-radius: 10px;
    margin-right: 10px;
}

#div8 {
    width: 33.33%;
    padding-top: 60px;
    padding-right: 20px;
    padding-bottom: 60px;
    padding-left: 20px;
    background-color: ghostwhite;
    border-radius: 10px;
}

.third-section-first-div {
    display: flex;
    align-content: center;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 60px;
    padding-left: 150px;
    width: fit-content;
}

.third-section-second-div {
    padding-top: 60px;
    padding-right: 200px;
    padding-bottom: 60px;
    padding-left: 50px;
    border-radius: 20px;
    width: fit-content;
}

#third-section-h2 {
    font-size: 36px;
    margin-top: 80px;
}

.third-section-para {
    font-size: 24px;
    color: gray;

}

#fourth-section {
    display: flex;
    align-content: center;
    padding-top: 50px;
    padding-right: 10px;
    padding-bottom: 60px;
    padding-left: 80px;
}

#fourth-section-h2 {
    font-size: 36px;
    margin-top: 80px;
}

.fourth-section-para {
    font-size: 24px;
    color: gray;
    text-align: justify;
}

#fourth-section-second-div {
    padding-right: 120px;
    padding-bottom: 60px;
    padding-left: 0px;
    border-radius: 20px;
    width: fit-content;
}

.fourth-section-first-div {
    padding-top: 70px;
    width: fit-content;
    padding-right: 100px;
}

#fifth-section-div {
    align-content: center;
    padding-top: 50px;
    padding-right: 10px;
    padding-bottom: 60px;
    padding-left: 80px;
}

#fifth-section-h2 {
    font-size: 36px;
    text-align: center;
}

#fifth-section-para {
    text-align: center;
    font-size: 24px;
}