body {
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
}

.first-section {
    text-align: center;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.heading-h1 {
    color: aliceblue;
    font-size: 80px;
}

.first-para {
    color: aliceblue;
}